body{
    background-color: black;
}

.sun{
    background-color: yellow;
    height: 200px;
    width: 200px;  
    border-radius: 50%;
    display: inline-block;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes rotateAnimation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}
  
.container {
    animation: rotateAnimation 5s linear infinite; 
}

.earth{
    background-color: blue;
    height: 50px;
    width: 50px;  
    border-radius: 50%;
    display: inline-block; 
}